<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.openliststrm.mapper.OpenlistCopyTaskMapper">
    
    <resultMap type="OpenlistCopyTask" id="OpenlistCopyTaskResult">
        <result property="copyTaskId"    column="copy_task_id"    />
        <result property="copyTaskSrc"    column="copy_task_src"    />
        <result property="copyTaskDst"    column="copy_task_dst"    />
        <result property="monitorDir"    column="monitor_dir"    />
        <result property="copyTaskStatus"    column="copy_task_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOpenlistCopyTaskVo">
        select copy_task_id, copy_task_src, copy_task_dst, monitor_dir, copy_task_status, create_time, update_time from openlist_copy_task
    </sql>

    <select id="selectOpenlistCopyTaskList" parameterType="OpenlistCopyTask" resultMap="OpenlistCopyTaskResult">
        <include refid="selectOpenlistCopyTaskVo"/>
        <where>  
            <if test="copyTaskSrc != null  and copyTaskSrc != ''"> and copy_task_src = #{copyTaskSrc}</if>
            <if test="copyTaskDst != null  and copyTaskDst != ''"> and copy_task_dst = #{copyTaskDst}</if>
            <if test="monitorDir != null  and monitorDir != ''"> and monitor_dir = #{monitorDir}</if>
            <if test="copyTaskStatus != null  and copyTaskStatus != ''"> and copy_task_status = #{copyTaskStatus}</if>
        </where>
    </select>
    
    <select id="selectOpenlistCopyTaskByCopyTaskId" parameterType="Integer" resultMap="OpenlistCopyTaskResult">
        <include refid="selectOpenlistCopyTaskVo"/>
        where copy_task_id = #{copyTaskId}
    </select>

    <insert id="insertOpenlistCopyTask" parameterType="OpenlistCopyTask" useGeneratedKeys="true" keyProperty="copyTaskId">
        insert into openlist_copy_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="copyTaskSrc != null and copyTaskSrc != ''">copy_task_src,</if>
            <if test="copyTaskDst != null and copyTaskDst != ''">copy_task_dst,</if>
            <if test="monitorDir != null and monitorDir != ''">monitor_dir,</if>
            <if test="copyTaskStatus != null">copy_task_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="copyTaskSrc != null and copyTaskSrc != ''">#{copyTaskSrc},</if>
            <if test="copyTaskDst != null and copyTaskDst != ''">#{copyTaskDst},</if>
            <if test="monitorDir != null and monitorDir != ''">#{monitorDir},</if>
            <if test="copyTaskStatus != null">#{copyTaskStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateOpenlistCopyTask" parameterType="OpenlistCopyTask">
        update openlist_copy_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="copyTaskSrc != null and copyTaskSrc != ''">copy_task_src = #{copyTaskSrc},</if>
            <if test="copyTaskDst != null and copyTaskDst != ''">copy_task_dst = #{copyTaskDst},</if>
            <if test="monitorDir != null">monitor_dir = #{monitorDir},</if>
            <if test="copyTaskStatus != null">copy_task_status = #{copyTaskStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where copy_task_id = #{copyTaskId}
    </update>

    <delete id="deleteOpenlistCopyTaskByCopyTaskId" parameterType="Integer">
        delete from openlist_copy_task where copy_task_id = #{copyTaskId}
    </delete>

    <delete id="deleteOpenlistCopyTaskByCopyTaskIds" parameterType="String">
        delete from openlist_copy_task where copy_task_id in 
        <foreach item="copyTaskId" collection="array" open="(" separator="," close=")">
            #{copyTaskId}
        </foreach>
    </delete>

</mapper>