<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('文件同步任务列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>源目录：</label>
                                <input type="text" name="copyTaskSrc"/>
                            </li>
                            <li>
                                <label>目标目录：</label>
                                <input type="text" name="copyTaskDst"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="copyTaskStatus" th:with="type=${@dict.getType('openlist_copy_task_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="openliststrm:task:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="openliststrm:task:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="openliststrm:task:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
<!--                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="openliststrm:task:export">-->
<!--                    <i class="fa fa-download"></i> 导出-->
<!--                </a>-->
                <a class="btn btn-primary multiple disabled" onclick="javascript:batchRun()" shiro:hasPermission="openliststrm:task:edit">
                    <i class="fa fa-play"></i> 立即执行
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('openliststrm:task:edit')}]];
        var removeFlag = [[${@permission.hasPermi('openliststrm:task:remove')}]];
        var copyTaskStatusDatas = [[${@dict.getType('openlist_copy_task_status')}]];
        var prefix = ctx + "openliststrm/task";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "文件同步任务",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'copyTaskId',
                    title: '自增主键',
                    visible: false
                },
                {
                    field: 'copyTaskSrc',
                    title: '源目录'
                },
                {
                    field: 'copyTaskDst',
                    title: '目标目录'
                },
                {
                    field: 'copyTaskStatus',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(copyTaskStatusDatas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.copyTaskId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.copyTaskId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        var more = [];
                        more.push("<a class='btn btn-default btn-xs " + editFlag + "' href='javascript:void(0)' onclick='run(" + row.copyTaskId + ")'><i class='fa fa-play'></i>立即执行</a> ");
                        actions.push('<a tabindex="0" class="btn btn-info btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>更多操作</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* 立即执行 */
        function run(copyTaskId) {
            $.modal.confirm("确认要执行选中的数据吗?", function() {
                var data = { "ids": copyTaskId };
                $.operate.post(prefix + "/run", data);
            });
        }

        // 批量立即执行
        function batchRun() {
            var rows = $.table.selectColumns("copyTaskId");
            if (rows.length == 0) {
                $.modal.alertWarning("请选择要执行的数据");
                return;
            }
            $.modal.confirm("确认要执行选中的" + rows.length + "条数据吗?", function() {
                var url = prefix + "/run";
                var data = { "ids": rows.join() };
                $.operate.post(url, data);
            });
        }

    </script>
</body>
</html>